<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      {% section 'header' %}
        {{content_for_header}}
    </head>
    <body>
      {% section 'navigation' %}
      
        {{content_for_layout}}

      {% section 'footer' %}
    {% render 'wholesale-now', customer: customer, template: template, product: product, cart: cart %}
      </body>
</html>